# set postgres database info that mysql database should be imported into
export PGUSER=EnterYourUserHere
export PGHOST=127.0.0.1
export PGPASSWORD=EnterYourPasswordHere
export PGDATABASE=EnterDatabaseName
export PGPORT=5432
export PGSCHEMA=myapp  # will auto drop and create schema
export MYSQLDUMP_PATH=/path/to/a/mysqldump.sql
